*{
    margin:0;
    padding:0
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body{
    color: #fff;
    background-color: #F1AA33;
}

section{
    height: 150vh;
    width: 100%;
}
.form-container{
  height: 430px;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:  #231F20;
  border-radius: 10px;
  padding: 50px, 30px;
  display:flex;
  align-items: center;
  flex-direction: column;
 
}
.img{
    width: 50px;
    height: 50px;
    position:relative;
    top:15px
}
h1{
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
    padding:15px;
}

.control input{
    width:300px;
    display: block;
    padding: 5px;
    border:none;
    outline:none;
    margin: 0.5em 0;
    border-radius: 10px;
}
.control input[type="submit"]{
    text-transform: uppercase;
    font: 1em;
    color:#231F20;
    background:#F1AA33;
    width: 200px;
    opacity: 0.7;
    transition: opacity 0.3ease;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.control input[type="submit"]:hover{
     opacity:1;
}
@media(max-width:385px){
   .form-container{
    width: 80%;
   }
   .form-action{
    width: 270px;
   }
   .control input{
    width: 260px;
   }
}
@media(max-width:343px){
   .form-container{
    width: 80%;
   }
   .form-action{
    width: 250px;
   }
   .control input{
    width: 230px;
   }
}